body, html{
    
}

.gridContainer{
    width: 800px;
    height: 800px;
    display: grid;
    border-style: solid;
    border-color: black;
    /* grid-gap: 20px; */
    justify-content: center;
    
   
}

.gridSquare{
    border-style: solid;
    border-color: green;
    justify-content: center;
    
    
}