body, html{
    height: 100%;
    margin: 0px;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gridContainer{
    width: 800px;
    height: 800px;
    display: grid;
    border-style: solid;
    border-color: black;
    /* grid-gap: 20px; */
    justify-content: center;
    
   
}

.gridSquare{
    border-style: solid;
    border-color: black;
    justify-content: center;
    
    
}

.newGridContainer{
    margin-bottom: 10px;
}